body{
    background-image: url('lami2.jpg');
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
span{
    color: pink;
}
